# DATA STRUCTURES

In [ ]:
#Python Collections (Arrays)
#There are four collection data types in the Python programming language:

#List is a collection which is ordered and changeable. Allows duplicate members.
#Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
#Dictionary is a collection which is ordered** and changeable. No duplicate members.

#REFER W3SCHOOL

# Lists

In [1]:
l=[1,2.9,3,'lion']
print(l),type(l)

[1, 2.9, 3, 'lion']

(None, list)

INDEXING AND SLICING

In [4]:
#indexing
print(l[2])


#slicing
l[2:]

3

[3, 'lion']

In [5]:
#finding index
l.index(1)

0

MODIFYING,ADDING,APPEND-ADD AT LAST

In [6]:
l

[1, 2.9, 3, 'lion']

In [7]:
l[0]='lotus'
l

['lotus', 2.9, 3, 'lion']

In [8]:
l.append(999)
l

['lotus', 2.9, 3, 'lion', 999]

REMOVE AND POP

In [9]:
l.pop()
l

['lotus', 2.9, 3, 'lion']

In [10]:
l.remove('lotus')

In [11]:
l

[2.9, 3, 'lion']

In [12]:
#ADDING ANOTHER LIST
l2=['owl',88,'coffe','bat']
l=l+l2
l

[2.9, 3, 'lion', 'owl', 88, 'coffe', 'bat']

In [13]:
l3=['r',21,2.1]
l.extend(l3)
l

[2.9, 3, 'lion', 'owl', 88, 'coffe', 'bat', 'r', 21, 2.1]

NEGATIVE INDEXING

In [14]:
l[-2]

21

In [15]:
#last 5 elements
l[-5:]

['coffe', 'bat', 'r', 21, 2.1]

In [16]:
#last 4th and 3rd element
l[-4:-2]

['bat', 'r']

INSERT

In [18]:
l
l.insert(4,87)

In [19]:
l

[2.9, 3, 'lion', 'owl', 87, 88, 'coffe', 'bat', 'r', 21, 2.1]

REVERSE

In [22]:
l.reverse()
l

[2.1, 21, 'r', 'bat', 'coffe', 88, 87, 'owl', 'lion', 3, 2.9]

sort

In [24]:
m=[22,11,2234,1111,43,32,32.1]
m.sort()
m

[11, 22, 32, 32.1, 43, 1111, 2234]

In [25]:
m.sort(reverse=True)
m

[2234, 1111, 43, 32.1, 32, 22, 11]

NESTED LIST

In [59]:
emp_id=[1,2,3,4,5]
emp_name=['subash','preeti','ali','john','maya']
dept_name=['support','data science','analytics','accounts','HR']
detail=[emp_id,emp_name,dept_name]
print(detail)
type(detail)

[[1, 2, 3, 4, 5], ['subash', 'preeti', 'ali', 'john', 'maya'], ['support', 'data science', 'analytics', 'accounts', 'HR']]

list

In [33]:
#access
detail[2]

['support', 'data science', 'analytics', 'accounts', 'HR']

In [34]:
#getting data science
detail[2][1]

'data science'

In [35]:
#accessing name after preeti
detail[1][2:]

['ali', 'john', 'maya']

In [60]:
#modifying
detail[1][-1]='kamna'
detail

[[1, 2, 3, 4, 5],
 ['subash', 'preeti', 'ali', 'john', 'kamna'],
 ['support', 'data science', 'analytics', 'accounts', 'HR']]

In [61]:
detail

[[1, 2, 3, 4, 5],
 ['subash', 'preeti', 'ali', 'john', 'kamna'],
 ['support', 'data science', 'analytics', 'accounts', 'HR']]

In [62]:
#insert at a specific position
detail[0].insert(5,6)
detail[1].insert(5,'maya')
detail[2].insert(5,'operations')
detail

[[1, 2, 3, 4, 5, 6],
 ['subash', 'preeti', 'ali', 'john', 'kamna', 'maya'],
 ['support', 'data science', 'analytics', 'accounts', 'HR', 'operations']]

In [63]:
age=[21,33,22,44,35,37,24]
detail.append(age)

In [64]:
detail

[[1, 2, 3, 4, 5, 6],
 ['subash', 'preeti', 'ali', 'john', 'kamna', 'maya'],
 ['support', 'data science', 'analytics', 'accounts', 'HR', 'operations'],
 [21, 33, 22, 44, 35, 37, 24]]

In [65]:
#removing particular element
detail[3].pop()
detail

[[1, 2, 3, 4, 5, 6],
 ['subash', 'preeti', 'ali', 'john', 'kamna', 'maya'],
 ['support', 'data science', 'analytics', 'accounts', 'HR', 'operations'],
 [21, 33, 22, 44, 35, 37]]

In [66]:
#deleting a sub list
del detail[3]
detail

[[1, 2, 3, 4, 5, 6],
 ['subash', 'preeti', 'ali', 'john', 'kamna', 'maya'],
 ['support', 'data science', 'analytics', 'accounts', 'HR', 'operations']]

In [73]:
#List comprehensions
age
x=[i for i in age if i%11==0]
x

[33, 22, 44]

# TUPLES

In [ ]:
#A tuple is a collection which is ordered and unchangeable.

In [74]:
t=(1,2,3.1,'table',888,'kite')
print(t)
print(type(t))

(1, 2, 3.1, 'table', 888, 'kite')
<class 'tuple'>

INDEXING AN SLICING

In [75]:
t[2]

3.1

In [76]:
t[4:]

(888, 'kite')

In [80]:
#negative indexing
t[2:5]

(3.1, 'table', 888)

In [78]:

t[-3]

'table'

In [79]:
t[-3:-1]

('table', 888)

In [81]:
#concatenate
t1=('python','R','tableau','sql')
t=t+t1
t

(1, 2, 3.1, 'table', 888, 'kite', 'python', 'R', 'tableau', 'sql')

In [83]:
#although tuples are unchangebale but we can change them after converting to list
t=list(t)
print(t)
print(type(t))

[1, 2, 3.1, 'table', 888, 'kite', 'python', 'R', 'tableau', 'sql']
<class 'list'>

In [84]:
#changing kite to power BI
t.index('kite')

5

In [85]:
t[5]='powerBI'
t

[1, 2, 3.1, 'table', 888, 'powerBI', 'python', 'R', 'tableau', 'sql']

In [86]:
t=tuple(t)
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3.1, 'table', 888, 'powerBI', 'python', 'R', 'tableau', 'sql')

# SETS

In [ ]:
#A set is a collection which is unordered, unchangeable*(except  remove items and add new items.), and unindexed.

In [1]:
s={1,2,3,4,'lion'}
print(s),print(type(s))

{1, 2, 3, 4, 'lion'}
<class 'set'>

(None, None)

In [2]:
#ADD
name={'kamna','maya','sara','july'}
name.add('veronica')
name
#check un-ordered elements

{'july', 'kamna', 'maya', 'sara', 'veronica'}

In [4]:
#OPERATIONS
colour1={'red','yellow','black','green','white','pink'}
colour2={'red','blue','black','purple','gold','magenta','silver','other'}

#union
colour1.union(colour2)

{'black',
 'blue',
 'gold',
 'green',
 'magenta',
 'other',
 'pink',
 'purple',
 'red',
 'silver',
 'white',
 'yellow'}

In [5]:
#intersection
colour1.intersection(colour2)

{'black', 'red'}

In [8]:
#differnce
colour1.difference(colour2)

{'green', 'pink', 'white', 'yellow'}

In [10]:
#symmetric differnce
colour1.symmetric_difference(colour2)

{'blue',
 'gold',
 'green',
 'magenta',
 'other',
 'pink',
 'purple',
 'silver',
 'white',
 'yellow'}

# DICTIONARY

In [11]:
dict={'veronics':'modelling','maya':'HR','kamna':'teacher','sierra':'designing'}
print(dict),type(dict)

{'veronics': 'modelling', 'maya': 'HR', 'kamna': 'teacher', 'sierra': 'designing'}

(None, dict)

In [12]:
#accesing keys
dict.keys()

dict_keys(['veronics', 'maya', 'kamna', 'sierra'])

In [13]:
#accesing values and items
print(dict.values())
print(dict.items())

dict_values(['modelling', 'HR', 'teacher', 'designing'])
dict_items([('veronics', 'modelling'), ('maya', 'HR'), ('kamna', 'teacher'), ('sierra', 'designing')])

In [14]:
#add
dict['jenny']='chef'
dict

{'veronics': 'modelling',
 'maya': 'HR',
 'kamna': 'teacher',
 'sierra': 'designing',
 'jenny': 'chef'}

In [15]:
dict.update({'betty':'acting'})
dict

{'veronics': 'modelling',
 'maya': 'HR',
 'kamna': 'teacher',
 'sierra': 'designing',
 'jenny': 'chef',
 'betty': 'acting'}

In [16]:
#change
dict['sierra']='manager'
dict

{'veronics': 'modelling',
 'maya': 'HR',
 'kamna': 'teacher',
 'sierra': 'manager',
 'jenny': 'chef',
 'betty': 'acting'}

In [17]:
del dict['betty']
dict

{'veronics': 'modelling',
 'maya': 'HR',
 'kamna': 'teacher',
 'sierra': 'manager',
 'jenny': 'chef'}