SETS

In [ ]:
#A set is a collection which is unordered, unchangeable*(except  remove items and add new items.), and unindexed.
##REMEMBER
#LIST-ordered and changeable
#TUPLE-ordered and un-changeable

In [1]:
e_id={10,20,20,30,40,50}
print(e_id)
print(type(e_id))
#check un-ordered and no duplicate


#NO access since no indexing

{50, 20, 40, 10, 30}
<class 'set'>

In [3]:
e_name={'maria','helder','ramir','sophia','hernandez'}
print(type(e_name))


#add
e_name.add('jennifer')
print(e_name)

<class 'set'>
{'ramir', 'jennifer', 'maria', 'helder', 'hernandez', 'sophia'}

In [4]:
e_name
#check how each and every time a differect order

{'helder', 'hernandez', 'jennifer', 'maria', 'ramir', 'sophia'}

In [14]:
#OPERATIONS

a={'oranges','kiwi','apple','banana','watermelon','muskmelon','papaya','black grapes','coconut'}
my_fruits={'coconut','black grapes','papaya','watermelon','mangoes'}

#UNIOn
print(a.union(my_fruits))


#intersection
print(a.intersection(my_fruits))

#difference
print(a.difference(my_fruits))

#symmetric_difference
print(a.symmetric_difference(my_fruits))

{'black grapes', 'apple', 'watermelon', 'oranges', 'mangoes', 'banana', 'papaya', 'coconut', 'muskmelon', 'kiwi'}
{'coconut', 'watermelon', 'papaya', 'black grapes'}
{'apple', 'oranges', 'banana', 'muskmelon', 'kiwi'}
{'apple', 'oranges', 'mangoes', 'banana', 'muskmelon', 'kiwi'}

DICTIONARY

In [ ]:
#ordered*, changeable and do not allow duplicates.

In [1]:
sports={'cricket':'virat','football':'ronaldo','lawntennis':'federar','golf':'woods','badminton':'nehwal'}
print(type(sports))
print(sports)

<class 'dict'>
{'cricket': 'virat', 'football': 'ronaldo', 'lawntennis': 'federar', 'golf': 'woods', 'badminton': 'nehwal'}

In [5]:
#ACCESS
print(sports.keys())
print(sports.values())
print(sports.items())


#accesing an  element
print(sports['golf'])

dict_keys(['cricket', 'football', 'lawntennis', 'golf', 'badminton'])
dict_values(['virat', 'ronaldo', 'federar', 'woods', 'nehwal'])
dict_items([('cricket', 'virat'), ('football', 'ronaldo'), ('lawntennis', 'federar'), ('golf', 'woods'), ('badminton', 'nehwal')])
woods

In [8]:
#add
sports['hockey']='connor'
print(sports)


sports.update({'TT':'manika'})
sports

{'cricket': 'virat', 'football': 'ronaldo', 'lawntennis': 'federar', 'golf': 'woods', 'badminton': 'nehwal', 'hockey': 'connor'}

{'cricket': 'virat',
 'football': 'ronaldo',
 'lawntennis': 'federar',
 'golf': 'woods',
 'badminton': 'nehwal',
 'hockey': 'connor',
 'TT': 'manika'}

In [10]:
#change
sports['cricket']='rohit'
sports

{'cricket': 'rohit',
 'football': 'ronaldo',
 'lawntennis': 'federar',
 'golf': 'woods',
 'badminton': 'nehwal',
 'hockey': 'connor',
 'TT': 'manika'}

In [11]:
del sports['TT']
sports
#if [] not used complete dictionary will be removed

{'cricket': 'rohit',
 'football': 'ronaldo',
 'lawntennis': 'federar',
 'golf': 'woods',
 'badminton': 'nehwal',
 'hockey': 'connor'}

In [13]:
#dctionary comprehension
e_id=[1,2,3,4,5]
name=['raj','suman','tia','sia','armaan']
detail={a:b for (a,b) in zip(e_id,name)}
print(type(detail))
print(detail)

#note zip function

<class 'dict'>
{1: 'raj', 2: 'suman', 3: 'tia', 4: 'sia', 5: 'armaan'}